@model ItemViewModel
@inject IItemHandler<ItemModel> items
@inject IUserHandler user
<form method="post">
    <div asp-validation-summary="All" class="text-danger bg-light"></div>
    <div>
        <div class="card-deck input-group-text">
            <label class="float-left">Product Name:</label>
            <div class="col-md float-left">
                <input type="text" class="w-100" asp-for="Name" autocomplete="off" id="suggst" />
                <div id="suggesstion"></div>
            </div>

            <label class="float-left">Product Quantity:</label>
            <div class="col-md float-left">
                <input type="text" class="w-100" asp-for="Quantity" autocomplete="off" />
            </div>
            <button class="float-right">Add</button>
        </div>
    </div>
</form>

<div>
    <div class="card" style="margin-top: 10px">
        <div class="card card-deck">
            <div class="card card-columns ">Name</div>
            <div class="card card-columns">Brand</div>
            <div class="card card-columns">Price Per Unit</div>
            <div class="card card-columns">Quantity</div>
            <div class="card card-columns">Total</div>
            <div class="card card-columns">Modify</div>
        </div>
    </div>
    <div class="card" style="margin-top: 10px" id="Container">
        <div>
            @foreach (var item in items.List)
            {
                <div class="card card-deck">
                    <div class="card card-columns">@item.Name</div>
                    <div class="card card-columns">@item.Brand</div>
                    <div class="card card-columns">@item.Price</div>
                    <div class="card card-columns">@item.Quantity</div>
                    <div class="card card-columns">@item.TotalPrice</div>
                    <div class="card card-columns d-inline-block"><a class="btn btn-link p-2 align-content-between" asp-action="update" asp-route-Name="@item.Name">edit</a><a class="btn btn-link p-2 align-content-between" asp-action="Delete" asp-route-id="@item.Id">delete</a></div>
                </div>
            }
        </div>
    </div>
    <div class="card" style="margin-top: 40px; border: 2px solid black; overflow: hidden">
        <div class="card card-deck">
            <div class="card card-columns">Total</div>
            <div class="card card-columns text-right">
                @items.Total()
            </div>
        </div>
        <div class="card card-deck">
            <div class="card card-columns">Paid</div>
            <div class="card card-columns text-right"><input id="pdp" type="text" /></div>
        </div>
        <div class="card card-deck">
            <div class="card card-columns">Change</div>
            <div class="card card-columns text-right" id="change"></div>
        </div>
    </div>
</div>

<script>
    var c = document.getElementById("suggst");
    c.addEventListener("keyup", function () {
        call("@user.UserToken")
    });
    c.addEventListener("paste", function () {
        call("@user.UserToken")
    });
</script>

@section footer
{
    <form method="post" asp-action="Payment" id="from">
        <div id="Payment-type" class="d-none">
            <span>
                Select Payment Type:
                <input type="radio" value="1" name="Payment" /><span>Card</span>
                <input type="radio" value="2" name="Payment" /><span>Cash</span>
            </span>
        </div>
        <div class="card card-footer bg-dark">
            <div style="margin-left: calc(100% - 150px)" id="pay">
            </div>
        </div>
    </form>


    <script>
        var Total = @items.Total();
         document.getElementById("pdp").addEventListener("keyup", function () {
            if (Total < this.value || Total == this.value) {
                document.getElementById("change").innerHTML = (this.value - Total);
                document.getElementById("Payment-type").className = "";
            }
            else {
                document.getElementById("change").innerHTML = "";
                document.getElementById("Payment-type").className = "d-none";
                document.getElementById("pay").innerHTML = "";
            }
         });
        var pt = document.getElementsByName("Payment");
        for (let j = 0; j < pt.length; j++) {
            pt[j].onclick = function () {
                if (Total < document.getElementById("pdp").value || Total == document.getElementById("pdp").value) {
                    document.getElementById("pay").innerHTML = "<button class=\"btn-primary btn btn-success\" id=\"pay\">Payment Now</button>";
                }
                else {
                    document.getElementById("pay").innerHTML = "";
                }
            };
        }
    </script>
}