@{
    ViewData["Title"] = "Index";
}
@model List<ItemViewModel>


@section script{
    <script src="~/js/Class.js" type="text/javascript"></script>
}
<div>
    <div class="card" style="margin-top: 10px">
        <div class="card card-deck">
            <div class="card card-columns ">Name</div>
            <div class="card card-columns">Brand</div>
            <div class="card card-columns">Price Per Unit</div>
            <div class="card card-columns">No</div>
            <div class="card card-columns">Total</div>
        </div>
    </div>
    <div class="card" style="margin-top: 10px" id="Container">

    </div>
    <div class="card" style="margin-top: 40px; border: 2px solid black; overflow: hidden">
        <div class="card card-deck">
            <div class="card card-columns">Total</div>
            <div class="card card-columns text-right" id="Total"></div>
        </div>
        <div class="card card-deck">
            <div class="card card-columns">Paid</div>
            <div class="card card-columns text-right"><input id="pdp" type="text" /></div>
        </div>
        <div class="card card-deck">
            <div class="card card-columns">Change</div>
            <div class="card card-columns text-right" id="change"></div>
        </div>
    </div>
</div>

@section footer
{
    <form method="post">
        <div hidden="hidden">@*@item.Id ,@item.Quantity*@</div>
        <div class="card card-footer bg-dark">
            <div style="margin-left: calc(100% - 150px)">
                <button class="btn-primary btn btn-success" formmethod="post">Payment Now</button>
            </div>
        </div>
    </form>
}

<script>
    var allItem = [];
    @foreach(var item in Model)
    {
        <text>allItem.push(new Item("@item.Name", @item.Id, @item.Price, "@item.Brand", @item.TotalPrice, @item.Quantity));</text>
    }
    for (var item in allItem) {
        allItem[item].show();
    }
    totalcount();
</script>